// break points
$max-width: 1920px;
$w1360: 1360px;
$w1280: 1280px;
$w768: 768px;
$w360: 360px;

// colors
$grey-5: #F9F9F9;
$purple: #6D3E92;
$black-80: #353752;
$white: #FFF;
$black: #030427;

// key size
$navBar-width: 480px;
